body {
    margin-top: 20px;
}
#minus{
    background-color: crimson;
}
#plus{
    background-color: green;
}
p{
    margin-bottom: 0;
}

#street-form{
    display: none;
}
#formButton {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
